/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  background: #fafafa;
  padding: 1em;
}

h1 {
  margin: 0;
}
